* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
  }
  
  .main-title h1 {
    text-align: center;
    font-size: 2rem;
    color: rgb(0, 123, 255);
    margin-bottom: 1rem;
  }
  
  .container {
    width: 80%;
    margin: auto;
    padding: 2rem;
    gap: 1.25rem;
    border-radius: 0.5rem;
    overflow-y: auto;
    max-height: 80vh;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(0.625rem);
    box-shadow: 0 0.3125rem 0.9375rem rgba(0, 0, 0, 0.15);
    
    scrollbar-width: thin;
    scrollbar-color: rgb(107, 107, 107) rgb(46, 46, 46);
    
    &::-webkit-scrollbar {
      width: 0.75rem;
      background-color: rgb(46, 46, 46);
    }
    
    &::-webkit-scrollbar-thumb {
      background-color: rgb(107, 107, 107);
      border-radius: 0.375rem;
      border: 0.1875rem solid rgb(46, 46, 46);
    }
    
    &::-webkit-scrollbar-thumb:hover {
      background-color: rgb(149, 149, 149);
    }
  }
  
  .section {
    margin-bottom: 4rem;
    h2 {
      display: flex;
      align-items: center;
      font-size: 1.5rem;
      color: rgb(0, 123, 255);
    }
  }
  
  .input-wrapper {
    position: relative;
    margin-bottom: 2rem;

    input {
      width: 100%;
      padding: 1rem;
      background: rgba(35, 35, 35, 1);
      border: 0.2rem solid rgb(128, 128, 128);
      border-radius: 0.6rem;
      outline: none;
      color: rgb(255, 255, 255);
      transition: all 0.2s ease-in;

      &:is(:focus, :valid) {
        border-color: rgb(0, 136, 255);
      }

      &::placeholder {
        opacity: 0;
      }
    }

    .placeholder {
      position: absolute;
      left: 1.5rem;
      top: 50%;
      transform: translateY(-50%);
      transition: all 0.2s ease-in;
      background-color: rgba(35, 35, 35, 1);
      padding: 0 0.4rem;
      color: rgb(128, 128, 128);
    }

    input:is(:focus, :valid) + .placeholder {
      transform: translateY(calc(-100% - 1.2rem)) translateX(-0.8rem);
      font-size: 1rem;
      color: rgb(0, 136, 255);
    }
  }
  
  .dropdown-menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: absolute;
    width: 100%;
    background: rgba(35, 35, 35, 1);
    border: 0.125rem solid rgb(128, 128, 128);
    border-top: none;
    border-radius: 0 0 0.6rem 0.6rem;
    max-height: 12.5rem;
    overflow-y: auto;
    z-index: 10000;
    transform-origin: top center;
    display: none;
  
    li {
      padding: 0.625rem; 
      margin-bottom: 0.5rem;
      border: none;
      color: rgb(255, 255, 255);
      cursor: pointer;
      
      &:hover {
        background-color: #f2f2f2;
        color: rgb(18, 18, 18);
      }
    }
  
    &--visible {
      display: block;
      animation: rotateX 300ms ease-in-out;
    }
    
    &--closing {
      animation: rotateXClose 300ms ease-in-out;
    }
  }

  .checkbox-container {
    color: rgb(255, 255, 255);
    margin: 1rem 0;
    display: flex;
    align-items: center;
}
  
.checkbox-flip {
    display: none;
}
  
.checkbox-flip + label span {
    display: inline-block;
    width: 1rem;
    height: 1.14rem;
    margin: 0 1rem -0.22rem 0;
    &:before,
    &:after {
      transition: all .3s ease-in-out;
      content: "";
      position: absolute;
      z-index: 1;
      width: 1rem;
      height: 1rem;
      background: transparent;
      border: 0.125rem solid rgb(0, 136, 255);
    }
    &:after {
      z-index: 0;
      border: none;
    }
}
  
.checkbox-flip:checked + label span {
    &:before {
      transform: rotateY(180deg);
      background: rgb(0, 136, 255);
    }
}
  
.checkbox-pop:checked + label span {
    &:before {
      animation: pop .3s ease;
      z-index: 100;
      background: rgb(0, 136, 255);
    } 
}
  
.checkbox-pull:checked + label span {
    &:after {
      width: 1.2rem;
      height: 1.2rem;
      background: rgb(0, 136, 255);
      animation: pull .4s linear; 
    }
}
  
.checkbox-spin:checked + label span {
    &:before {
      transform: rotateZ(180deg);
      background: rgb(0, 136, 255);
    }
}

.slider-wrapper {
  display: block;
  margin-bottom: 1rem;

  label {
    position: relative;
    display: flex;
    align-items: center;
    font-size: 1rem;
    color: rgb(0, 123, 255);
    margin-bottom: 1rem;

    .info-icon {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      width: 1.25em;
      height: 1.25em;
      padding: 0.7em;
      margin-left: 0.625em;
      border-radius: 50%;
      background-color: rgba(255, 255, 255, 0.07);
      color: rgb(255, 255, 255);
      font-size: 1em;
      cursor: pointer;
      position: relative;
    }
    
    .tooltip-content {
      display: none;
      position: absolute;
      top: 100%;
      left: 50%;
      min-width: 15em;
      max-width: 25em;
      font-size: 0.8em;
      background-color: rgb(42, 42, 42);
      color: white;
      text-align: left;
      border-radius: 0.375em;
      padding: 0.3125em;
      box-shadow: 0 0 0.625em rgba(0, 0, 0, 0.5);
      z-index: 1000;
    }
    
    .info-icon:hover .tooltip-content {
      display: block;
    }
  }

  input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 0.5rem;
    background: rgba(128, 128, 128, 0.5);
    outline: none;
    opacity: 0.75;
    transition: opacity 0.2s;
    border-radius: 1rem;

    &:hover {
      opacity: 1;
    }

    &:focus {
      outline: none;
    }

    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      width: 1.5rem;
      height: 1.5rem;
      background: rgb(0, 136, 255);
      cursor: pointer;
      border-radius: 50%;
    }

    &:focus::-webkit-slider-thumb {
      box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.25);
    }

    &::-moz-range-thumb {
      width: 1.5rem;
      height: 1.5rem;
      background: rgb(0, 136, 255);
      cursor: pointer;
      border: none;
      border-radius: 50%;
    }

    &:focus::-moz-range-thumb {
      box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.25);
    }

    &::-moz-range-track {
      width: 100%;
      height: 0.5rem;
      cursor: pointer;
      transition: 0.2s;
      background: rgba(128, 128, 128, 0.5);
      border-radius: 1rem;
    }

    &::-ms-thumb {
      width: 1.5rem;
      height: 1.5rem;
      background: rgb(0, 136, 255);
      cursor: pointer;
      border-radius: 50%;
    }

    &::-ms-track {
      width: 100%;
      height: 0.5rem;
      cursor: pointer;
      background: transparent;
      border-color: transparent;
      color: transparent;
    }

    &::-ms-fill-lower {
      background: rgba(128, 128, 128, 0.5);
      border-radius: 1rem;
    }

    &::-ms-fill-upper {
      background: rgba(128, 128, 128, 0.5);
      border-radius: 1rem;
    }
  }
}

.actions {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;

  .submit-button {
    padding: 0.625rem 1.5625rem;
    border: none;
    border-radius: 0.25rem;
    background-color: rgb(0, 123, 255);
    color: white;
    font-size: 1.125rem;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.1s ease;

    &:hover {
      background-color: rgb(0, 104, 217);
    }

    &:active {
      transform: translateY(0.125rem);
    }

    &:disabled {
      background-color: rgb(13, 61, 111);
      cursor: not-allowed;
      opacity: 0.7;
    }
  }
}
  
@keyframes rotateX {
  0% {
    opacity: 0;
    transform: rotateX(-90deg);
  }
  100% {
    opacity: 1;
    transform: rotateX(0deg);
  }
}

@keyframes rotateXClose {
  0% {
    opacity: 1;
    transform: rotateX(0deg);
  }
  100% {
    opacity: 0;
    transform: rotateX(90deg);
  }
}

@media (max-width: 768px) {
  .container {
    width: 95%;
  }
}
  