<div class="container">
  <div class="box">
    <span></span>
    <div class="content">
      <h2>Upload Data</h2>
      <img src="../../../../assets/icons/upload.svg" alt="Upload Data" class="section-icon"/>
      <p>Securely and safely upload medical data to expedite the diagnosis process.</p>
      <button class="redirect-button" (click)="navigate('upload-data')">Upload</button>
    </div>
  </div>

  <div class="box">
    <span></span>
    <div class="content">
      <h2>Configure your AI</h2>
      <img src="../../../../assets/icons/configure.svg" alt="Settings" class="section-icon"/>
      <p>Set up the AI to align with your specific needs by adjusting its parameters.</p>
      <button class="redirect-button" (click)="navigate('configure-model')">Configure</button>
    </div>
  </div>

  <div class="box">
    <span></span>
    <div class="content">
      <h2>Results</h2>
      <img src="../../../../assets/icons/result.svg" alt="Knowledge Graph" class="section-icon"/>
      <p>Access AI-driven diagnosis results, aiding swift medical decision-making.</p>
      <button class="redirect-button" (click)="navigate('results')">Results</button>
    </div>
  </div>
</div>
