# General
*.log
*.swo
*.swp
*.tar.bz2
*.gz
.DS_Store
.env
.secret.js
*secret.js
*~
!.gitignore

# Node.js
/node_modules/
npm-debug.log*
yarn-error.log*
package-lock.json
yarn.lock

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
pyvenv.cfg
*.egg-info/
.installed.cfg
*.egg
pip-log.txt*
pip-delete-this-directory.txt
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/
.pytest_cache/
# Jupyter Notebook
.ipynb_checkpoints/

# Angular
.angular/
/dist/

# C# / .NET
bin/
obj/
*.user
*.userosscache
*.suo
*.cache
*.csproj.user
*.dll
*.exe
*.pdb
*.mp3
*.mp4
*.swf
*.dbmdl
*.jfm
/log/
/TestResults/

# JetBrains IDEs (PyCharm, etc.)
.idea/
*.iml
.idea_modules/
# User-specific IDE settings
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
# Sensitive or high-churn files
.idea/**/dataSources.ids
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml
.idea/**/dbnavigator.xml

# VS Code
.vscode/
*.code-workspace

# MinIO
minio.RELEASE*
mc.*
s3-check-md5*
xl-meta*
healing-*
inspect*.zip
200M*
hash-set
mca
nancy
inspects/*
.bin/
docs/debugging/s3-verify/s3-verify
docs/debugging/xl-meta/xl-meta
docs/debugging/s3-check-md5/s3-check-md5
docs/debugging/hash-set/hash-set
docs/debugging/healing-bin/healing-bin
docs/debugging/inspect/inspect
docs/debugging/pprofgoparser/pprofgoparser
docs/debugging/reorder-disks/reorder-disks
docs/debugging/populate-hard-links/populate-hardlinks
docs/debugging/xattr/xattr

# Miscellaneous files
*.py[cod]
*$py.class
*.egg-info
.installed.cfg
*.egg
modules/.settings
modules/.vscode
.vimrc
.nvimrc
.spyderproject
.ropeproject
.history
.husky/_
aio/content/examples/.DS_Store
/build-analytics
.modules/rollup-test/dist/
.bazelrc.user
.ng-dev.user*
.notes.md
baseline.json
.coverage.*
.coverage
.cache
