<div class="toolbar-sidenav-container">
  <div #toolbar class="custom-toolbar">
    <div [class.open]="menuOpened" class="menu-button" (click)="toggleMenu()">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
    
      <div class="center-content">
          <span class="toolbar-app-title">CauseIT</span>
          <img src="../../../../assets/icons/app-logo.svg" alt="App Logo" class="toolbar-logo">
      </div>

      <div class="toolbar-right-content">
        <div class="notification-trigger">
          <img src="../../../../assets/icons/notification.svg" alt="No Notifications" class="notification-icon" *ngIf="!hasNotifications">
          <img src="../../../../assets/icons/notification-alert.svg" alt="No Notifications" class="notification-icon" *ngIf="hasNotifications">
          <div class="notification-dropdown">
            <ng-container *ngIf="notifications.length; else noNotificationsTemplate">
              <div *ngFor="let notification of notifications" class="notification-card">
                <button class="close-btn" (click)="markAsRead(notification.id.toString())">&times;</button>
                <div class="notification-content">
                  <span>{{ notification.message }}</span>
                </div>
                <div class="notification-timestamp">
                  {{ notification.timestamp | date: 'short' }}
                </div>
              </div>
            </ng-container>
            <ng-template #noNotificationsTemplate>
              <p>No new notifications</p>
            </ng-template>
          </div>
        </div>

        <div class="user-menu-trigger">
            <img src="../../../../assets/icons/profile.svg" alt="Account" class="account-icon">
            <div class="user-menu">
                <button class="menu-item" (click)="profile()">Profile</button>
                <button class="menu-item" (click)="settings()">Settings</button>
                <button class="menu-item" (click)="logout()">Logout</button>
            </div>
        </div>
      </div>
  </div>
  
  <div #sidenav class="custom-sidenav" id="sidenav" [class.open]="menuOpened">    
      <div class="sidenav-buttons">
        <button class="sidenav-button" (click)="navigate('home')">
            Home
            <img src="../../../../assets/icons/home.svg" class="button-icon"/>
        </button>

        <button class="sidenav-button" (click)="navigate('upload-data')">
            Upload data
            <img src="../../../../assets/icons/upload.svg" class="button-icon"/>
        </button>

        <button class="sidenav-button" (click)="navigate('configure-model')">
            Configure AI
            <img src="../../../../assets/icons/configure.svg" class="button-icon"/>
        </button>

        <button class="sidenav-button" (click)="navigate('results')">
            Results
            <img src="../../../../assets/icons/result.svg" class="button-icon"/>
        </button>
      </div>
  </div>

  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>
