* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

.profile-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 2rem;
}

.profile-card {
  background: #333;
  border-radius: 0.75rem;
  box-shadow: 0 0.75rem 1.5rem rgba(0, 0, 0, 0.2);
  overflow: hidden;
  max-width: 100%;
  width: 400px;
  padding: 2rem;
  text-align: center;
  color: #fff;

  .card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;

    .left-avatar, .right-avatar {
      background-size: cover;
      background-position: center;
      width: 50px;
      height: 50px;
      border-radius: 50%;
    }

    .left-avatar {
      background-image: url('../../../../assets/images/MaleDoctor.png');
    }

    .right-avatar {
      background-image: url('../../../../assets/images/FemaleDoctor.png');
    }

    .card-title {
      font-size: 1.5rem;
      color: #0a84ff;
      margin: 0;
    }
  }

  .card-content {
    text-align: left;

    .info-row {
      display: flex;
      justify-content: space-between;
      margin-bottom: 1rem;

      .info-label {
        font-weight: bold;
        color: #999;
      }

      .info-value {
        color: #fff;
      }
    }
  }
}