<div class="profile-container">
  <div class="profile-card">
      <div class="card-header">
          <div class="profile-image-male left-avatar"></div>
          <h1 class="card-title">Profile</h1>
          <div class="profile-image-female right-avatar"></div>
      </div>
      <div class="card-content">
          <div class="info-row">
              <span class="info-label">User</span>
              <span class="info-value">{{ userInfo.name }}</span>
          </div>
          <div class="info-row">
              <span class="info-label">Mail</span>
              <span class="info-value">{{ userInfo.email }}</span>
          </div>
          <div class="info-row">
            <span class="info-label">Specialisation</span>
            <span class="info-value">{{ userInfo.specialisationName }}</span>
        </div>
      </div>
  </div>
</div>
