<div class="main-title">
  <h1>Upload Your Data</h1>
</div>

<div class="container" *ngIf="!showUploadNotification">
  <div class="label-wrapper">
    <input [type]="'text'" 
            id="label" 
            required 
            [(ngModel)]="selectedLabel" 
            name="label" 
            (input)="filterLabels()"
            (focus)="openDropdown=true"
            (blur)="closeDropdown()">
    <label for="label" class="placeholder">Select a label for your data</label>
    <ul [class.dropdown-menu--visible]="openDropdown" [class.dropdown-menu--closing]="closingDropdown" class="dropdown-menu">
      <li *ngFor="let currentLabel of filteredLabels" (click)="selectLabel(currentLabel)">
        {{ currentLabel }}
      </li>
    </ul>
  </div>
  
  <div class="upload-area">
    <h2>
      Regular Data
      <span class="info-icon">i
        <span class="tooltip-content">Upload files containing medical data for patients.</span>
      </span>
    </h2>
    <ngx-dropzone [accept]="'.csv'"
                  [maxFileSize]="524288000"
                  (change)="onFileDroppedRegular($event)" 
                  [class.file-over]="isDragOverRegular" 
                  (dragover)="onDragOverRegular($event)" 
                  (dragleave)="onDragLeaveRegular($event)"
                  (drop)="onFileDroppedRegular($event)">
      <ngx-dropzone-label>Drag & drop your files here or browse</ngx-dropzone-label>
    </ngx-dropzone>
    <p class="max-size-info">Maximum upload size: 500 MB</p>
    <ul *ngIf="regularData.length > 0">
      <li *ngFor="let file of regularData">{{ file.name }}</li>
    </ul>
  </div>

  <div class="upload-area">
    <h2>
      Explanatory Data
      <span class="info-icon">i
        <span class="tooltip-content">Upload a CSV file explaining column names, especially for encoded data or abbreviations. The file must contains the columns "column_name" and "details"</span>
      </span>
    </h2>
    
    <ngx-dropzone [accept]="'.csv'"
                  [maxFileSize]="524288000"
                  [multiple]="false" 
                  (change)="onFileDroppedExplanatory($event)" 
                  [class.file-over]="isDragOverExplanatory" 
                  (dragover)="onDragOverExplanatory($event)" 
                  (dragleave)="onDragLeaveExplanatory($event)"
                  (drop)="onFileDroppedExplanatory($event)">
      <ngx-dropzone-label>Drag & drop your file here or browse</ngx-dropzone-label>
    </ngx-dropzone>
    <p class="max-size-info">Maximum file size: 500 MB</p>
    <div *ngIf="explanatoryData">
      <p>{{ explanatoryData.name }}</p>
    </div>
  </div>

  <div class="actions">
    <button class="attach-button" (click)="attachFiles()" [disabled]="selectedLabel.length === 0">Attach files</button>
  </div>
</div>

<div class="notification-card" *ngIf="showUploadNotification">
  <h2>You will be notified once the files have been successfully uploaded</h2>
  <p class="warning-text">Feel free to navigate through the website, but please DO NOT close this tab</p>
</div>
