* {
  box-sizing: border-box;
}

.container {
  width: 50%;
  margin: auto;
  gap: 1.25rem;
  border-radius: 0.5rem;
  overflow-y: auto;
  max-height: 90vh;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(0.625rem);
  box-shadow: 0 0.3125rem 0.9375rem rgba(0, 0, 0, 0.15);

  scrollbar-width: thin;
  scrollbar-color: rgb(107, 107, 107) rgb(46, 46, 46);

  &::-webkit-scrollbar {
    width: 0.75rem;
    background-color: rgb(46, 46, 46);
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgb(107, 107, 107);
    border-radius: 0.375rem;
    border: 0.1875rem solid rgb(46, 46, 46);
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: rgb(149, 149, 149);
  }
}

.upload-area {
  padding: 1.25rem;
  text-align: left;
  transition: transform 0.3s ease;

  h2 {
    font-size: 1.5rem;
    color: rgb(0, 123, 255);
  }
}

ngx-dropzone {
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 12.5rem;
  margin-bottom: 0.625rem;
  border: 0.125rem dashed rgb(176, 176, 176);
  border-radius: 0.375rem;
  background-color: rgba(35, 35, 35, 1);
  transition: background-color 0.5s ease, border-color 0.5s ease;

  &:hover {
    background-color: rgb(11, 109, 194);
    border-color: rgb(11, 109, 194);
  }

  &.file-over {
    background-color: rgba(11, 109, 194, 0.5);
    border-color: rgba(11, 109, 194, 0.5);
  }

  ngx-dropzone-label {
    font-size: 1rem;
    color: rgb(255, 255, 255);
    margin-bottom: 0.625rem;
  }
}

ul {
  list-style-type: none;
  padding: 0;
  margin-top: 0.625rem;

  li {
    padding: 0.3125rem 0.625rem;
    margin-top: 0.3125rem;
    border-radius: 0.25rem;
    border: 0.0625rem solid rgb(208, 208, 208);
    transition: background-color 0.3s ease;
  }
}

.actions {
  display: flex;
  justify-content: center;
  margin-top: 1.25rem;
  margin-bottom: 0.625rem;
}

.attach-button {
  padding: 0.625rem 1.5625rem;
  border: none;
  border-radius: 0.25rem;
  background-color: rgb(0, 123, 255);
  color: white;
  font-size: 1.125rem;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.1s ease;

  &:hover {
    background-color: rgb(0, 104, 217);
  }

  &:active {
    transform: translateY(0.125rem);
  }
}

@media (max-width: 48rem) {
  .container {
    width: 70%;
    max-height: 80vh;
    padding: 0.75rem;
  }

  .upload-area,
  ngx-dropzone,
  .actions {
    padding: 0.75rem;
  }

  ngx-dropzone {
    height: 9rem;
    margin-bottom: 0.5rem;
  }

  ngx-dropzone-label,
  .attach-button {
    font-size: 0.875rem;
  }

  .attach-button {
    padding: 0.5rem 1rem;
  }
}

@media (max-width: 30rem) {
  .container {
    width: 90%;
    max-height: 70vh;
    padding: 0.5rem;
  }

  .upload-area,
  ngx-dropzone,
  .actions {
    padding: 0.5rem;
  }

  ngx-dropzone {
    height: 7rem;
    margin-bottom: 0.4rem;
  }

  ngx-dropzone-label,
  .attach-button {
    font-size: 0.75rem;
  }

  .attach-button {
    padding: 0.375rem 0.75rem;
  }
}
