* {
  box-sizing: border-box;
}

.main-title h1 {
  text-align: center;
  font-size: 2rem;
  color: rgb(0, 123, 255);
  margin-bottom: 1rem;
}

.container {
  width: 80%;
  margin: auto;
  gap: 1.25rem;
  border-radius: 0.5rem;
  overflow-y: auto;
  max-height: 80vh;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(0.625rem);
  box-shadow: 0 0.3125rem 0.9375rem rgba(0, 0, 0, 0.15);

  scrollbar-width: thin;
  scrollbar-color: rgb(107, 107, 107) rgb(46, 46, 46);

  &::-webkit-scrollbar {
    width: 0.75rem;
    background-color: rgb(46, 46, 46);
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgb(107, 107, 107);
    border-radius: 0.375rem;
    border: 0.1875rem solid rgb(46, 46, 46);
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: rgb(149, 149, 149);
  }
}

.upload-area {
  padding: 1.25rem;
  text-align: left;
  transition: transform 0.3s ease;

  h2 {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    color: rgb(0, 123, 255);
  }
}

.max-size-info {
  font-size: 0.8em;
  color: #666;
  text-align: center;
  margin-top: 0.5em;
}

ngx-dropzone {
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 12.5rem;
  margin-bottom: 0.625rem;
  border: 0.125rem dashed rgb(176, 176, 176);
  border-radius: 0.375rem;
  background-color: rgba(35, 35, 35, 1);
  transition: background-color 0.5s ease, border-color 0.5s ease;

  &:hover {
    background-color: rgb(11, 109, 194);
    border-color: rgb(11, 109, 194);
  }

  &.file-over {
    background-color: rgba(11, 109, 194, 0.5);
    border-color: rgba(11, 109, 194, 0.5);
  }

  ngx-dropzone-label {
    font-size: 1rem;
    color: rgb(255, 255, 255);
    margin-bottom: 0.625rem;
  }
}

ul {
  list-style-type: none;
  padding: 0;
  margin-top: 0.625rem;

  li {
    padding: 0.3125rem 0.625rem;
    margin-top: 0.3125rem;
    border-radius: 0.25rem;
    border: 0.0625rem solid rgb(208, 208, 208);
    transition: background-color 0.3s ease;
  }
}

.actions {
  display: flex;
  justify-content: center;
  margin-top: 1.25rem;
  margin-bottom: 0.625rem;
}

.attach-button {
  padding: 0.625rem 1.5625rem;
  border: none;
  border-radius: 0.25rem;
  background-color: rgb(0, 123, 255);
  color: white;
  font-size: 1.125rem;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.1s ease;

  &:hover {
    background-color: rgb(0, 104, 217);
  }

  &:active {
    transform: translateY(0.125rem);
  }

  &:disabled {
    background-color: rgb(13, 61, 111);
    cursor: not-allowed;
    opacity: 0.7;
  }
}

.label-wrapper {
  position: relative;
  margin: auto;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  max-width: 50%;

  input {
    width: 100%;
    padding: 1rem;
    background: rgba(35, 35, 35, 1);
    border: 0.2rem solid rgb(128, 128, 128);
    border-radius: 0.6rem;
    outline: none;
    color: rgb(255, 255, 255);
    transition: all 0.2s ease-in;

    &:is(:focus, :valid) {
      border-color: rgb(0, 136, 255);
    }

    &::placeholder {
      opacity: 0;
    }
  }

  .placeholder {
    position: absolute;
    left: 1.5rem;
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.2s ease-in;
    background-color: rgba(35, 35, 35, 1);
    padding: 0 0.4rem;
    color: rgb(128, 128, 128);
  }

  input:is(:focus, :valid) + .placeholder {
    transform: translateY(calc(-100% - 1.2rem)) translateX(-0.8rem);
    font-size: 1rem;
    color: rgb(0, 136, 255);
  }
}

.dropdown-menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: absolute;
  width: 100%;
  background: rgba(35, 35, 35, 1);
  border: 0.125rem solid rgb(128, 128, 128);
  border-top: none;
  border-radius: 0 0 0.6rem 0.6rem;
  max-height: 12.5rem;
  overflow-y: auto;
  z-index: 10000;
  transform-origin: top center;
  display: none;
}

.dropdown-menu li {
  padding: 0.625rem; 
  margin-bottom: 0.5rem;
  border: none;
  color: rgb(255, 255, 255);
  cursor: pointer;
}

.dropdown-menu li:hover {
  background-color: #f2f2f2;
  color: rgb(18, 18, 18);
}

.dropdown-menu--visible {
  display: block;
  animation: rotateX 300ms ease-in-out;
}

.dropdown-menu--closing {
  animation: rotateXClose 300ms ease-in-out;
}

.placeholder {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.2s ease-in;
  background-color: rgba(35, 35, 35, 1);
  padding: 0 0.4rem;
  color: rgb(128, 128, 128);
}

input:is(:focus, :valid) + .placeholder {
  transform: translate(-50%, calc(-100% - 1.2rem));
  font-size: 1rem;
  color: rgb(0, 136, 255);
}

.info-icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 1.25em;
  height: 1.25em;
  padding: 0.7em;
  margin-left: 0.625em;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.07);
  color: rgb(255, 255, 255);
  font-size: 0.75em;
  cursor: pointer;
  position: relative;
}

.tooltip-content {
  display: none;
  position: absolute;
  top: 100%;
  left: 50%;
  min-width: 15em;
  max-width: 25em;
  font-size: 0.8em;
  background-color: rgb(42, 42, 42);
  color: white;
  text-align: left;
  border-radius: 0.375em;
  padding: 0.3125em;
  box-shadow: 0 0 0.625em rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.info-icon:hover .tooltip-content {
  display: block;
}

.notification-card {
  background: rgba(35, 35, 35, 1);
  color: rgb(0, 123, 255);
  border-radius: 0.5em;
  padding: 1em;
  box-shadow: 0 0.25em 0.5em rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 50%;
  width: auto;
  margin: 0 auto;
  margin-top: 25vh;
  
  .warning-text {
    color: #ff4136;
    margin: 0.5em 0;
    font-size: 1.2em;
  }
}

.file-item {
  width: 100%;

  li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .remove-file-btn {
    color: red;
    border: none;
    background-color: transparent;
    cursor: pointer;
    transition: color 0.3s ease, transform 0.3s ease;
  
    &:hover {
      color: darkred;
      transform: scale(1.1);
    }
  }
}

@keyframes rotateX {
  0% {
    opacity: 0;
    transform: rotateX(-90deg);
  }
  50% {
    transform: rotateX(-20deg);
  }
  100% {
    opacity: 1;
    transform: rotateX(0deg);
  }
}

@keyframes rotateXClose {
  0% {
    opacity: 1;
    transform: rotateX(0deg);
  }
  100% {
    opacity: 0;
    transform: rotateX(90deg);
  }
}

@media (max-width: 48rem) {
  .main-title h1 {
    font-size: 1.5rem;
    margin-bottom: 0.75rem;
  }

  .container {
    width: 90%;
    max-height: 75vh;
    padding: 1rem;
  }

  .upload-area h2 {
    font-size: 1.25rem;
  }

  .max-size-info {
    font-size: 0.75em;
  }

  ngx-dropzone {
    height: 10rem;
    margin-bottom: 0.5rem;
  }

  ngx-dropzone-label {
    font-size: 0.875rem;
  }

  .actions .attach-button {
    font-size: 1rem;
    padding: 0.5rem 1.25rem;
  }

  .label-wrapper .placeholder {
    font-size: 0.875rem;
    padding: 0;
  }

  .label-wrapper input:is(:focus, :valid) + .placeholder {
    font-size: 0.875rem;
  }

  .label-wrapper input {
    padding: 0.75rem;
  }

  .dropdown-menu li {
    padding: 0.5rem;
  }
}

@media (max-width: 30rem) {
  .main-title h1 {
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
  }

  .container {
    width: 95%;
    max-height: 70vh;
    padding: 0.75rem;
  }

  .upload-area h2 {
    font-size: 1rem;
  }

  .max-size-info {
    font-size: 0.7em;
  }

  ngx-dropzone {
    height: 8rem;
    margin-bottom: 0.4rem;
  }

  ngx-dropzone-label {
    font-size: 0.75rem;
  }

  .actions .attach-button {
    font-size: 0.875rem;
    padding: 0.4rem 1rem;
  }

  .label-wrapper .placeholder {
    font-size: 0.75rem;
    padding: 0;
  }

  .label-wrapper input:is(:focus, :valid) + .placeholder {
    font-size: 0.75rem;
  }

  .label-wrapper input {
    padding: 0.5rem;
  }

  .dropdown-menu li {
    padding: 0.4rem;
  }
}
