<div class="container">
  <div class="upload-area">
    <h2>Regular Data</h2>
    <ngx-dropzone (change)="onFileDroppedRegular($event)" 
                  [class.file-over]="isDragOverRegular" 
                  (dragover)="onDragOverRegular($event)" 
                  (dragleave)="onDragLeaveRegular($event)"
                  (drop)="onFileDroppedRegular($event)">
      <ngx-dropzone-label>Drag & drop your files here or browse</ngx-dropzone-label>
    </ngx-dropzone>
    <ul *ngIf="regularData.length > 0">
      <li *ngFor="let file of regularData">{{ file.name }}</li>
    </ul>
  </div>

  <div class="upload-area">
    <h2>Explanatory Data</h2>
    <ngx-dropzone [multiple]="false" 
                  (change)="onFileDroppedExplanatory($event)" 
                  [class.file-over]="isDragOverExplanatory" 
                  (dragover)="onDragOverExplanatory($event)" 
                  (dragleave)="onDragLeaveExplanatory($event)"
                  (drop)="onFileDroppedExplanatory($event)">
      <ngx-dropzone-label>Drag & drop your file here or browse</ngx-dropzone-label>
    </ngx-dropzone>
    <div *ngIf="explanatoryData">
      <p>{{ explanatoryData.name }}</p>
    </div>
  </div>

  <div class="actions">
    <button class="attach-button" (click)="attachFiles()">Attach files</button>
  </div>
</div>
