
* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

.label-wrapper {
  position: relative;
  margin: auto;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  max-width: 50%;

  input {
    width: 100%;
    padding: 1rem;
    background: rgba(35, 35, 35, 1);
    border: 0.2rem solid rgb(128, 128, 128);
    border-radius: 0.6rem;
    outline: none;
    color: rgb(255, 255, 255);
    transition: all 0.2s ease-in;

    &:is(:focus, :valid) {
      border-color: rgb(0, 136, 255);
    }

    &::placeholder {
      opacity: 0;
    }
  }

  .placeholder {
    position: absolute;
    left: 1.5rem;
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.2s ease-in;
    background-color: rgba(35, 35, 35, 1);
    padding: 0 0.4rem;
    color: rgb(128, 128, 128);
  }

  input:is(:focus, :valid) + .placeholder {
    transform: translateY(calc(-100% - 1.2rem)) translateX(-0.8rem);
    font-size: 1rem;
    color: rgb(0, 136, 255);
  }
}

.dropdown-menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: absolute;
  width: 100%;
  background: rgba(35, 35, 35, 1);
  border: 0.125rem solid rgb(128, 128, 128);
  border-top: none;
  border-radius: 0 0 0.6rem 0.6rem;
  max-height: 12.5rem;
  overflow-y: auto;
  z-index: 10000;
  transform-origin: top center;
  display: none;
}

.dropdown-menu li {
  padding: 0.625rem; 
  margin-bottom: 0.5rem;
  border: none;
  color: rgb(255, 255, 255);
  cursor: pointer;
}

.dropdown-menu li:hover {
  background-color: #f2f2f2;
  color: rgb(18, 18, 18);
}

.dropdown-menu--visible {
  display: block;
  animation: rotateX 300ms ease-in-out;
}

.dropdown-menu--closing {
  animation: rotateXClose 300ms ease-in-out;
}

.placeholder {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.2s ease-in;
  background-color: rgba(35, 35, 35, 1);
  padding: 0 0.4rem;
  color: rgb(128, 128, 128);
}

input:is(:focus, :valid) + .placeholder {
  transform: translate(-50%, calc(-100% - 1.2rem));
  font-size: 1rem;
  color: rgb(0, 136, 255);
}

.icon-buttons {
  display: flex;
  justify-content: center;
  gap: 15%;
  margin-top: 1.875rem;
  
  button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0.75rem;
    border-radius: 0.5rem;
    transition: background-color 0.3s, transform 0.3s;
    
    &:hover,
    &.active {
      transform: scale(1.1);
      background-color: #333;
    }

    img {
      display: block;
      width: 2.5rem;
      height: auto;
    }
  }
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 9999;
}

.loading-spinner {
  border: 0.5rem solid rgb(255, 255, 255);
  border-top: 0.5rem solid rgb(0, 136, 255);
  border-radius: 50%;
  width: 3.5rem;
  height: 3.5rem;
  animation: smooth-spin 2s linear infinite;
}

.table-responsive {
  margin: auto;
  margin-top: 2rem;
  width: 80%;
  max-height: 60vh;
  overflow: auto;

  scrollbar-width: thin;
  scrollbar-color: rgb(107, 107, 107) rgb(46, 46, 46);
  
  &::-webkit-scrollbar {
    width: 0.75rem;
    background-color: rgb(46, 46, 46);
  }
  
  &::-webkit-scrollbar-thumb {
    background-color: rgb(107, 107, 107);
    border-radius: 0.375rem;
    border: 0.1875rem solid rgb(46, 46, 46);
  }
  
  &::-webkit-scrollbar-thumb:hover {
    background-color: rgb(149, 149, 149);
  }

  .table {
    width: 100%;
    border-collapse: collapse;
    font-size: 1.2rem;
    text-align: center;

    th, td {
      padding: 0.75rem;
      border-bottom: 1px solid #333;
      transition: background-color 0.3s ease;
    }

    th {
      background-color: rgb(0, 136, 255);
      color: rgb(255, 255, 255);
    }

    tbody tr:hover {
      background-color: #333;
      color: #fff;
    }
  }
}

.error-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}

.error-card {
  position: relative;
  padding: 2rem;
  border-radius: 0.5rem;
  background-color: rgb(34, 34, 34);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: all 0.3s ease;

  .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    background: none;
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
    transition: color 0.3s ease;

    &:hover {
      color: #d9534f;
    }
  }

  p {
    margin: 1rem 0;
    color: #e9352f;
    font-size: 1.2rem;
    transition: color 0.3s ease;
  }

  button:not(.close-button) {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    color: #fff;
    background-color: rgb(0, 136, 255);
    border-radius: 0.3rem;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: darken(rgb(0, 136, 255), 10%);
    }
  }
}

.accuracy-display {
  margin: 20px 0;
  font-size: 1.2em;
  color: rgb(0, 136, 255);
  text-align: center;
}

.image-gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  position: relative;

  .custom-viewport {
    width: 100%;
    height: 60vh;
    overflow-y: scroll;
    overflow-x: hidden;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1.5rem;
    padding: 1rem;

    scrollbar-width: none;
    -ms-overflow-style: none;
    
    &::-webkit-scrollbar {
      display: none;
    }
  }

  .image-container {
    width: 100%;
    cursor: pointer;
    transition: transform 0.3s ease;

    &:hover {
      transform: scale(1.05);
    }

    img {
      width: 100%;
      height: auto;
      display: block;
      border-radius: 0.5rem;
    }
  }

  .loading, .no-images {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border-radius: 0.5rem;
  }
}

.fullscreen-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
  z-index: 1000;

  img {
    max-width: 90%;
    max-height: 90%;
  }

  &.active {
    display: flex;
  }
}

@keyframes smooth-spin {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}